
@font-face {
    font-family: "Reenie Beanie";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/ReenieBeanie-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Roboto-Regular.ttf.ttf");
}

/* viewLogin */

#sandiauno {
    width: 100%;
}

#franjaDos {
    display: flex;
    justify-content: center;
}

#titulo {
    position: relative;
    bottom: 50px;
}

#franjaTres {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
    font-family: "Reenie Beanie";
    font-style: normal;
    font-weight: normal;
}

#contenedorIngreso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagenUsuario {
    display: flex;
    justify-content: center;
}


#imgUsuario {
 width: 160px;
 height: 160px;
}

#email {
    width: 400px;
    height: 40px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

#contraseña {
    width: 400px;
    height: 40px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

#iniciar {
    width: 408px;
    height: 45px;
    text-align: center;
    background: linear-gradient(180.74deg, #039F87 3.82%, #00D1CD 96.19%);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

#google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 408px;
    height: 45px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    
}

#imgGoogle {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoLogin {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
}

#facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 408px;
    height: 45px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

#imgFacebook {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonRegistrate {
    position: relative;
    bottom: 20px;
    width: 408px;
    height: 45px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin: 0px 0px 100px 0px;
}

/* Registrate */

#emailR {
    width: 400px;
    height: 40px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);  
    margin: 100px 0px 0px 0px;
}

#contraseñaR {
    width: 400px;
    height: 40px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
}

#nombreUsuario {
    width: 400px;
    height: 40px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);  
}

#botonRegistrateConfirmar {
    width: 408px;
    height: 45px;
    text-align: center;
    background: linear-gradient(180.74deg, #039F87 3.82%, #00D1CD 96.19%);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0px 0px 100px 0px;
}


/* viewCrear */

#crearBody {
    display: flex;
    flex-direction: column;
   }
   
   #franjaUnoCrear {
       display: flex;
   }
   
   #franjaDosCrear {
       width: 100%;
       height: 250px;
   }
   
   
   #franjaTresCrear {
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 100px;
   }
   
   #arrastra {
       width: 1300‬px;
       height: 90px;
   }
   
   #franjaCuatroCrear {
       display: flex;
       align-items: flex-start;
       margin: 100px 0px 0px 0px;
   }
   
   #cuadroUno {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 0px 300px 0px 300px;
   }
   
   #cuadroMas {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 200px;
       height: 200px;
       background: #CC7B7B;
       border: 1px solid #000000;
       box-sizing: border-box;
       box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
       font-size: 144px;
       color: #FFFFFF;
       border: 1px solid #000000;
       margin: 0px 0px 30px 0px;
   }
   
   #textoCuadroMAs {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 200px;
       height: 40px;
       background: #039F87;
       border: 1px solid #000000;
       box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
       font-family: "Reenie Beanie";
       font-size: 30px;
   }
   
   #cuadroDos {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   
   #contenedorVideo {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 500px;
       height: 200px;
       border: 1px solid #000000;
       font-family: "Reenie Beanie";
       font-size: 60px;
       margin: 0px 0px 30px 0px;
   }
   
   #textoVideo {
       font-family: "Reenie Beanie";
       font-size: 40px;
   }
   
   #franjaCincoCrear {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   #panelUno {
       width: 1400px;
       height: 900px;
       background: #C4C4C4;
       border: 1px solid #000000;
       box-sizing: border-box;
       border-radius: 8px;
       margin: 100px 0px 0px 0px;
   }
   
   .franjaSeisCrear {
       display: flex;
       align-items: flex-start;
       justify-content: center;
   }
   
   .franjaSeisCrear > div {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 200px;
       height: 40px;
       background: #039F87;
       box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
       margin: 20px 30px 0px 0px;
       font-family: "Reenie Beanie";
       font-size: 30px;
   }
   
   #franjaSieteCrear {
       display: flex;
       align-items: flex-start;
       justify-content: center;
   }
   
   #botonAlPatron {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 200px;
       height: 40px;
       background: #CC7B7B;
       box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
       margin: 20px 30px 0px 0px;
       font-family: "Reenie Beanie";
       font-size: 30px;
       margin: 100px 0px 100px 0px;
   }


   /* templeMenu */

   #contenedorMenu {
    display: flex;
    flex-direction: column;
}

#franjaUnoMenu {
    display: flex;
    justify-content: space-around;
}

#imgUsuario {
    width: 120px;
    height: 120px;
    border-radius: 80px;
}

#textoNombreUsuario {
    font-family: "Reenie Beanie";
    font-size: 50px;
    position: relative;
    top: 50px;
    right: 350px;
}

#cerrarSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    top: 30px;
}

#btnCerrar {
    width: 70px;
    height: 70px;
}

.franjaDosMenu {
    display: flex;
    justify-content: center;
}

.franjaDosMenu > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background: #CC7B7B;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Reenie Beanie";
    font-size: 30px;
    color: #000000;
    margin: 60px 50px 0px 50px;
}